employees {
    display: table;
    border-collapse: collapse;
    width: 100%;
    font-family: Arial;
}

employee {
    display: table-row;
}

employee::before {
    content: attr(empId);
    display: table-cell;
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;
}

name, department, designation, salary, email, joiningDate {
    display: table-cell;
    border: 1px solid black;
    padding: 5px;
}
